/* Style CSS pour rendre les informations visibles */
h2 {
    color: crimson;
}

h3 {
    color: goldenrod;
}

p.prix {
    font-style: italic;
    color: #3243f0;
}

p.resume {
    color: deeppink;
}

q {
    color: chocolate;
}

q a, q a:visited {
    color: black;
    text-decoration: none;
}
/* Lien Github:https://github.com/Marie930/TP3_NFA040_MB */